.aboutNav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 280px;
  background-color: aquamarine;
}

.threeNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 570px;
  height: 45px;
  margin-bottom: 70px;
  background-color: yellow;
}

.introduceBrand {
  width: 180px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1px;
  color: white;
  background-color: black;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.madameCoffee {
  width: 180px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #232323;
  background-color: #f4f4f4;
  border: #e8e8e8 solid 1px;
  border-radius: 30px;
  cursor: pointer;
}

.roastingBean {
  width: 180px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #232323;
  background-color: #f4f4f4;
  border: #e8e8e8 solid 1px;
  border-radius: 30px;
  cursor: pointer;
}

.firstImage {
  width: 100%;
  height: 600px;
  background-color: wheat;
}
