/* footer */
.footerBackground {
    width: 100%;
    height: 400px;
    background-color: black;
  }
  
  .firstLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1350px;
    height: 180px;
    margin-left: 80px;
  }
  
  .csCenter {
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
  
  .sns {
    align-items: center;
  }
  .csCenterNumber {
    color: #e57741;
    font-size: 40px;
    font-weight: 600;
  }
  
  .pigNarrow {
    width: 25px;
    height: 58px;
    margin-right: 20px;
  }
  
  .followSns {
    display: flex;
    flex-direction: column;
  }
  
  .followUs {
    color: white;
    font-size: 22px;
    font-weight: 600;
  }
  
  .snsLink {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .sns {
    display: flex;
    justify-content: space-between;
  }
  
  .snsImage {
    width: 36px;
    height: 36px;
    cursor: pointer;
  }

.textMargin {
  margin-top: 20px;
  margin-left: 80px;
}

.mainClick {
  color: white;
  font-weight: 600;
  margin-right: 34px;
  letter-spacing: -1px;
  cursor: pointer;
}

.serve {
  margin-top: 10px;
}

.serveText {
  margin-right: 34px;
  font-size: 14px;
  letter-spacing: -1px;
  color: #9b9b9b;
}

.copyright {
  color: #9b9b9b;
  margin-top: 40px;
}
