.mainBackgroundImage {
  display: flex;
  width: 100%;
  height: 600px;
  background-image: url(../../assets/img/Rectangle2.png);
  background-size: cover;
  background-position: center;

  .mainBackgroundTitle {
    display: flex;
    flex-direction: column;
    margin-left: 80px;

    .mainFirstTitleText {
      margin-top: 90px;
      font-size: 24px;
      color: white;
    }

    .mainBigTitleText {
      width: 320px;
      margin-top: 20px;
    }

    .goToNewMenuButton {
      width: 180px;
      height: 50px;
      text-align: center;
      margin-top: 25px;
      font-size: 16px;
      letter-spacing: -0.5px;
      background-color: rgba(255, 255, 255, 0.711);
      border-radius: 30px;
      cursor: pointer;
      border: none;

      .goToNewMenu {
        font-size: 16px;
        text-decoration: none;
        color: black;
      }
    }
  }

  .watermelonAndBlueText {
    display: flex;
    flex-direction: column;
    letter-spacing: -0.5px;
    white-space: pre-line;

    //absoloute 코드 빼서 다시 코드짜기
    .watermelonLatte {
      display: flex;
      flex-direction: column;
      text-align: right;
      margin-top: 80px;
      margin-left: 730px;
    }

    .blueBeachLatte {
      display: flex;
      flex-direction: column;
      margin-top: 150px;
      margin-left: 190px;
    }
  }
  //중복되는건 밖으로 꺼내놓는게 좋을까?
  .name {
    font-size: 22px;
    font-weight: 600;
    color: rgb(30, 30, 30);
  }

  .englishName {
    font-size: 18px;
  }

  .explanation {
    margin-top: 30px;
  }
}

/* 공지사항,이벤트 섹션 */
.blackbox {
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 100%;

  .noticeSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
  }

  .noticeMainTitle {
    margin-left: 150px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 70px;
  }
}

.noticeTitle {
  margin-left: 40px;
  color: white;
  cursor: pointer;
}

.plus {
  margin: auto;
  cursor: pointer;
}

.secondBackground {
  display: flex;
  flex-basis: auto;
  height: 400px;
  background-color: aqua;
}

.menuFrames {
  margin-left: 50px;
  height: 340px;
}

.secondTitle {
  margin: auto;
}

.secondBackground {
  display: flex;
  align-items: center;
  width: 100%;
  height: 609px;
  background-image: url(../../assets/img/backgroundCheckPattern.png);
  background-size: 100%;
}

.coffeeBean {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 75px;
  color: white;
}

.narrow {
  margin-left: 15px;
  height: 15px;
}

.moreCoffeeBeanButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}
/* 세번째 */
/* 커피메뉴 */
.thirdBackgroundCoffee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 700px;
}

.coffeeAndImage {
  display: flex;
  flex-direction: column;
}

.coffeeMenuTopOver {
  display: flex;
  justify-content: center;
}

.coffeeMenuTop {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  height: 300px;
}

.coffeeDecorate {
  display: flex;
  justify-content: center;
}

.coffeeText {
  margin-top: 170px;
  font-size: 55px;
  font-weight: 600;
}

.longCircle {
  position: absolute;
  margin-top: 160px;
}

.roundOrange {
  position: absolute;
  z-index: -1;
  margin-top: 80px;
  margin-left: 490px;
}

.threeButtons {
  display: flex;
  align-self: flex-end;
}

.seeMoreCoffeeMenuButton {
  width: 185px;
  height: 50px;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgb(0, 0, 0);
}

.goButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #f4f4f4;
  border-radius: 30px;
  border-color: #e8e8e8;
  border: none;
}

.fivePicturesTop {
  display: flex;
  justify-content: center;
}

.fivePictures {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  width: 1400px;
}

.pictures {
  display: flex;
  width: 260px;
  height: auto;
}

/* 네번째 */
/* ㅇㅇ의 다양한 메뉴를 경험해보세요 */

.four {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  background-color: yellow;
}
.blackSquare {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1400px;
  height: 300px;
  border-radius: 35px;
  background-color: black;
}

.tryMenu {
  color: white;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -1.5px;
}

.seeMoreVariousMenu {
  width: 250px;
  height: 55px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  letter-spacing: -1.5px;
  background-color: #e57741;
  cursor: pointer;
}

.cafeImage {
  width: 100%;
  height: 300px;
  background-color: chartreuse;
}
