.mainImage {
  width: 100%;
  height: 600px;
  background-color: #8a2be2;
}

.mainImageTitle {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 80px;
}

.smallTitleText {
  margin-top: 90px;
  font-size: 24px;
  color: white;
}

.bigTitleText {
  width: 320px;
  margin-top: 20px;
}

.goToNewMenu {
  width: 200px;
  height: 60px;
  text-align: center;
  margin-top: 25px;
  background-color: lightgray;
  background-color: rgba(211, 211, 211, 0.8);
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}

.EmeraldPlusChoco {
  letter-spacing: -0.5px;
  color: white;
  white-space: pre-line;
}

.chocoBeachLatte {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 300px;
  right: 300px;
}

.EmeraldLatte {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 500px;
  right: 500px;
}

.name {
  font-size: 22px;
  font-weight: 600;
}

.englishName {
  font-size: 18px;
}

.explanation {
  margin-top: 50px;
}

/* 공지사항,이벤트 섹션 */
.blackbox {
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 100%;
}

.noticeSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.noticeMainTitle {
  margin-left: 150px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 70px;
}

.noticeTitle {
  margin-left: 40px;
  color: white;
}

.plus {
  margin: auto;
}

.secondBackground {
  display: flex;
  flex-basis: auto;
  height: 400px;
}

.menuFrames {
  margin-left: 50px;
  height: 340px;
}

.secondTitle {
  margin: auto;
}

.secondBackground {
  display: flex;
  align-items: center;
  width: 100%;
  height: 609px;
  background-image: url(/src/assets/img/backgroundCheckPattern.png);
  background-size: 100%;
}

.coffeeBean {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 75px;
  color: white;
}

.narrow {
  margin-left: 15px;
  height: 15px;
}

.moreCoffeeBeanButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}
/* 세번째 */
/* 커피메뉴 */
.thirdBackgroundCoffee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 700px;
}

.coffeeAndImage {
  display: flex;
  flex-direction: column;
}

.coffeeMenuTopOver {
  display: flex;
  justify-content: center;
}

.coffeeMenuTop {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  height: 300px;
}

.coffeeDecorate {
  display: flex;
  justify-content: center;
}

.coffeeText {
  margin-top: 170px;
  font-size: 55px;
  font-weight: 600;
}

.longCircle {
  position: absolute;
  margin-top: 160px;
}

.roundOrange {
  position: absolute;
  z-index: -1;
  margin-top: 80px;
  margin-left: 490px;
}

.threeButtons {
  display: flex;
  align-self: flex-end;
}

.seeMoreCoffeeMenuButton {
  width: 185px;
  height: 50px;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgb(0, 0, 0);
}

.goButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #f4f4f4;
  border-radius: 30px;
  border-color: #e8e8e8;
  border: none;
}

.fivePicturesTop {
  display: flex;
  justify-content: center;
}

.fivePictures {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  width: 1400px;
}

.pictures {
  display: flex;
  width: 260px;
  height: auto;
}

/* 네번째 */
/* ㅇㅇ의 다양한 메뉴를 경험해보세요 */

.four {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  background-color: yellow;
}
.blackSquare {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1400px;
  height: 300px;
  border-radius: 35px;
  background-color: black;
}

.tryMenu {
  color: white;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -1.5px;
}

.seeMoreVariousMenu {
  width: 250px;
  height: 55px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  letter-spacing: -1.5px;
  background-color: #e57741;
  cursor: pointer;
}

.cafeImage {
  width: 100%;
  height: 300px;
  background-color: chartreuse;
}

/* footer */
.footerBackground {
  width: 100%;
  height: 400px;
  background-color: black;
}

.firstLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1350px;
  height: 180px;
  margin-left: 80px;
}

.csCenter {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.sns {
  align-items: center;
}
.csCenterNumber {
  color: #e57741;
  font-size: 40px;
  font-weight: 600;
}

.pigNarrow {
  width: 25px;
  height: 58px;
  margin-right: 20px;
}

.followSns {
  display: flex;
  flex-direction: column;
}

.followUs {
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.snsLink {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.sns {
  display: flex;
  justify-content: space-between;
}

.snsImage {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.textMargin {
  margin-top: 20px;
  margin-left: 80px;
}

.mainClick {
  color: white;
  font-weight: 600;
  margin-right: 34px;
  letter-spacing: -1px;
  cursor: pointer;
}

.serve {
  margin-top: 10px;
}

.serveText {
  margin-right: 34px;
  font-size: 14px;
  letter-spacing: -1px;
  color: #9b9b9b;
}

.copyright {
  color: #9b9b9b;
  margin-top: 40px;
}
/* .footerImage {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  background-color: #8a2be2;
}

.footerFirstLine {
  display: flex;
  align-items: center;
  width: 100%;
  height: 240px;
  background-color: black;
}

.footerSecondLine {
  width: 100%;
  height: 150px;
  background-color: black;
} */

/* .number {
  align-items: center;
}

.csCenter {
  display: flex;
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-left: 80px;
}

.csNumber {
  margin-left: 80px;
  font-size: 40px;
  font-weight: 500;
  color: #e57741;
}

.sns {
  display: flex;
  flex-direction: column;
}

.followUs {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.cafeNav {
  font-size: 16px;
  margin-left: 80px;
  font-weight: 600;
  color: white;
}

.cafeNavHref {
  margin-right: 40px;
  letter-spacing: -1.5px;
  cursor: pointer;
}

.cafeAddress {
  margin-top: 13px;
  font-size: 14px;
  margin-left: 80px;
  color: #9b9b9b;
}

.cafeAddressData {
  margin-right: 30px;
}

.copyright {
  margin-top: 24px;
  margin-left: 80px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #9b9b9b;
} */
