.header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 75px;
  margin-left: 50px;
  margin-top: 38px;
}

.categories {
  display: flex;
  align-items: flex-end;
  height: 150px;
}

.nav {
  margin-right: 100px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #979797;
}

.mainImage {
  display: flex;
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: #8a2be2;
}

.mainImageTitle {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 80px;
}

.smallTitleText {
  margin-top: 90px;
  font-size: 24px;
  color: white;
}

.bigTitleText {
  width: 320px;
  margin-top: 20px;
}

.goToNewMenu {
  line-height: 50px;
  width: 200px;
  height: 60px;
  text-align: center;
  margin-top: 25px;
  background-color: lightgray;
  background-color: rgba(211, 211, 211, 0.8);
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}

.EmeraldPlusChoco {
  letter-spacing: -0.5px;
  color: white;
  white-space: pre-line;
}

.chocoBeachLatte {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 300px;
  right: 300px;
}

.EmeraldLatte {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 500px;
  right: 500px;
}

.name {
  font-size: 22px;
  font-weight: 600;
}

.englishName {
  font-size: 18px;
}

.explanation {
  margin-top: 50px;
}

.blackbox {
  display: flex;
  background-color: rgb(0, 0, 0);
  margin-top: 600px;
  width: 100%;
}

.noticeSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.noticeMainTitle {
  margin-left: 150px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 70px;
}

.noticeTitle {
  margin-left: 40px;
  color: white;
}

.plus {
  margin: auto;
}

.secondBackground {
  display: flex;
  flex-basis: auto;
  height: 400px;
}

.menuFrames {
  margin-left: 50px;
  height: 46vh;
}

.secondTitle {
  margin: auto;
}

.secondBackground {
  display: flex;
  align-items: center;
  width: 100%;
  height: 609px;
  background-image: url(/src/assets/img/backgroundCheckPattern.png);
  background-size: 100%;
}

.coffeeBean {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 75px;
  color: white;
}

.seeMore {
  display: flex;
  align-items: center;
}

.narrow {
  margin-left: 15px;
  height: 2.5vh;
}

.moreCoffeeBeanButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.thirdBackground1 {
  display: flex;
  width: 100%;
  height: 700px;
  z-index: -2;
  position: absolute;
}

.namedCoffee {
  margin-top: 170px;
  margin-left: 60px;
  font-size: 55px;
  font-weight: 600;
  position: absolute;
}

.longCircle {
  margin-top: 160px;
  margin-left: 90px;
  position: absolute;
}

.circleOrange {
  justify-content: center;
  position: absolute;
  z-index: -1;
  margin-top: 160px;
  margin-left: 35%;
}

.nextMenuButton {
  margin-top: 260px;
  display: flex;
  position: absolute;
  /* justify-content: flex-end; 적용안됨 ㅠ */
  margin-left: 1140px;
}

.seeMoreCoffiesMenuButton {
  width: 185px;
  height: 50px;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgb(0, 0, 0);
}

.whiteNarrow {
  margin-left: 15px;
  height: 2vh;
}

.leftRightButtons {
  display: flex;
}

.goButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #f4f4f4;
  border-radius: 30px;
  border-color: #e8e8e8;
}

.fivePictures {
  display: flex;
  align-content: center;
  margin-top: 340px;
  margin-left: 35px;
}

.pictures img {
  height: 43vh;
  margin-left: 20px;
}

.thirdBackground2 {
  display: flex;
  margin-top: 700px;
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 700px;
  background-color: white;
}

.namedBeverage {
  margin-top: 170px;
  margin-left: 60px;
  font-size: 55px;
  font-weight: 600;
  position: absolute;
}

.tryMenuSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1400px;
  width: 100%;
  height: 360px;
  background-color: white;
}

.blackRadiusBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1400px;
  height: 300px;
  background-color: black;
  border-radius: 40px;
}

.tryMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tryVariousMenu {
  font-size: 40px;
  color: white;
  font-weight: 600;
}

.seeMoreMenues {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 40px;
  margin-top: 30px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  background-color: #e57741;
  cursor: pointer;
}

.footerImage {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  background-color: #8a2be2;
}

.footerFirstLine {
  display: flex;
  align-items: center;
  width: 100%;
  height: 240px;
  background-color: black;
}

.footerSecondLine {
  width: 100%;
  height: 150px;
  background-color: black;
}

.number {
  align-items: center;
}

.csCenter {
  display: flex;
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-left: 80px;
}

.csNumber {
  margin-left: 80px;
  font-size: 40px;
  font-weight: 500;
  color: #e57741;
}

.sns {
  display: flex;
  flex-direction: column;
}

.followUs {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.cafeNav {
  font-size: 16px;
  margin-left: 80px;
  font-weight: 600;
  color: white;
}

.cafeNavHref {
  margin-right: 40px;
  letter-spacing: -1.5px;
  cursor: pointer;
}

.cafeAddress {
  margin-top: 13px;
  font-size: 14px;
  margin-left: 80px;
  color: #9b9b9b;
}

.cafeAddressData {
  margin-right: 30px;
}

.copyright {
  margin-top: 24px;
  margin-left: 80px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #9b9b9b;
}
