.header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 75px;
  margin-left: 50px;
  margin-top: 38px;
}

.categories {
  display: flex;
  align-items: flex-end;
  height: 150px;
}

.nav {
  margin-right: 100px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #979797;
}

.mainImage {
  display: flex;
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: #8a2be2;
}

.mainImageTitle {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 80px;
}

.smallTitleText {
  margin-top: 90px;
  font-size: 24px;
  color: white;
}

.bigTitleText {
  width: 320px;
  margin-top: 20px;
}

.goToNewMenu {
  line-height: 50px;
  width: 200px;
  height: 60px;
  text-align: center;
  margin-top: 25px;
  background-color: lightgray;
  background-color: rgba(211, 211, 211, 0.8);
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}

.EmeraldPlusChoco {
  letter-spacing: -0.5px;
  color: white;
  white-space: pre-line;
}

.chocoBeachLatte {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 300px;
  right: 300px;
}

.EmeraldLatte {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 500px;
  right: 500px;
}

.name {
  font-size: 22px;
  font-weight: 600;
}

.englishName {
  font-size: 18px;
}

.explanation {
  margin-top: 50px;
}

.blackbox {
  display: flex;
  background-color: rgb(0, 0, 0);
  margin-top: 600px;
  width: 100%;
}

.noticeSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.noticeMainTitle {
  margin-left: 150px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 70px;
}

.noticeTitle {
  margin-left: 40px;
  color: white;
}

.plus {
  margin: auto;
}

.secondBackground {
  display: flex;
  flex-basis: auto;
  height: 400px;
}

.checkPattern {
  /* z-index : absolute를 사용했을때만 사용 가능, 제일 아래에 배치 */
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 600px;
}

/* space-between이 되지않는 이유?  margin으로 일단 값줬음 */
/* manuFrames위에 있는 div에 className줘서 space-between했는데 ..ㅠ안됨 */
.menuFrames {
  margin-left: 60px;
  margin-top: 135px;
  height: 45vh;
}

.secondTitle {
  display: flex;

  margin: auto;
}

.coffeeBean {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 65px;
  color: white;
}

.moreCoffeeBeanButton {
  line-height: 50px;
  width: 200px;
  height: 60px;
  text-align: center;
  margin-top: 25px;
  background-color: white;
  background-color: rgba(211, 211, 211, 0.8);
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}

.thirdBackground1 {
  display: flex;
  margin-top: 198px;
  width: 100%;
  height: 700px;
  background-color: white;
  z-index: -2;
  position: absolute;
}

.namedCoffee {
  margin-top: 170px;
  margin-left: 60px;
  font-size: 55px;
  font-weight: 600;
  position: absolute;
}

.longCircle {
  margin-top: 160px;
  margin-left: 90px;
  position: absolute;
}

.circleOrange {
  margin-top: 180px;
  z-index: -1;
  position: absolute;
}

.nextMenuButton {
  margin-top: 260px;
  display: flex;
  position: absolute;
  /* justify-content: flex-end; 적용안됨 ㅠ */
  margin-left: 1180px;
}

.seeMoreCoffiesMenuButton {
  text-align: center;
  width: 170px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  color: white;
}

.leftRightButtons {
  display: flex;
}

.goButton {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  align-items: center;
  cursor: pointer;
  background-color: #f4f4f4;
  border-radius: 30px;
  border-color: #e8e8e8;
  margin-left: 10px;
}

.fourPictures {
  display: flex;
  align-content: center;
  margin-top: 320px;
}

.thirdBackground2 {
  display: flex;
  margin-top: 898px;
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 700px;
  background-color: white;
}

.namedBeverage {
  margin-top: 170px;
  margin-left: 60px;
  font-size: 55px;
  font-weight: 600;
  position: absolute;
}

.tryMenuSection {
  display: flex;
  justify-content: center;
  margin-top: 1598px;
  width: 100%;
  height: 360px;
  background-color: white;
}

.blackRadiusBox {
  width: 1300px;
  height: 300px;
  position: absolute;

  background-color: black;
  border-radius: 40px;
}

.tryMenu {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  font-weight: 600;
}

.seeMoreMenues {
  width: 250px;
  height: 40px;
  position: absolute;
  z-index: 1;
  margin-top: 30px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  background-color: #e57741;
  cursor: pointer;
}

.footerImage {
  width: 100%;
  height: 300px;
  background-color: #8a2be2;
}

.footer {
  width: 100%;
  height: 450px;
  background-color: rosybrown;
}

.csCenter {
  display: flex;
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-left: 50px;
}

.csNumber {
  margin-left: 50px;
  font-size: 40px;
  font-weight: 500;
  color: #e57741;
}

.followUs {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-right: 180px
}
